.btn {
    height: 50px;
    width: 218px;
    border-radius: 25px;
    margin-bottom: 70px;
    color: $color-txt-bouton;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background: $background-bouton;
    border: none;
    
    

    p {
        font-weight: 500;
        line-height: 19px;
        font-size: 16px;
       
    }

    &:hover {
        background: $background-bouton-hover;


    }
}


.section-restaurant-liste-description {
    position: relative;

}

.favoris-label {
    font-size: 2rem;
    cursor: pointer;
}

.icone-non-favoris,
.icone-favoris {
    display: none;
    font-size: 2rem;
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
}

.icone-non-favoris {
    color: black;
}

.icone-favoris {
    background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);

    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.favoris-checkbox {
    display: none;
}

.favoris-checkbox:not(:checked)~.icone .icone-non-favoris {
    display: inline;
}

.favoris-checkbox:checked~.icone .icone-favoris {
    display: inline;
}


.section-restaurant-liste__item {
    position: relative;

    .btn__card {

        position: absolute;
        right: 12px;
        top: 13px;

        width: 80px;
        height: 29px;
        text-align: center;
        background-color: $color-nouveau;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 2px;

        .new{
            font-size: 14px;
            line-height: 16px;
            color: $color-nouveau-txt; 
            font-weight: 500;
            
        }
    }
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: $color-background-primary;
    
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }