.section-explorer{

    a{
        text-decoration: none;
    }
    
 
}
 
.btn {

    height: 50px;
    width: 218px;
    border-radius: 25px;
    margin-bottom: 70px;
    color: $color-txt-bouton;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background: $background-bouton;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
       
        
       
    }

    &:hover {
        background: $background-bouton-hover;


    }
} 







.favoris-checkbox {
    display: none;
}

.heart-label {
    position: absolute;
    top: 78%; 
    right: 8%; 
    width: 1rem;
    height: 1rem;
}

.fas, .far {
    position: absolute;
    left: 70%;
    bottom: 5%;
    font-size: 1.5rem;
    transition: opacity 0.3s ease-in-out; 
}



/* Couleur du coeur plein */
.fas {
    opacity: 0;
    background: $background-bouton-hover; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}


/* Couleur du coeur vide */
.far {
    color: black; 
}

.favoris-checkbox:checked ~ .fas {
    opacity: 1;
}

.favoris-checkbox:checked ~ .far {
    opacity: 0;
}
 

.fa-mobile-screen-button, .fa-list-ul{
    color: #7e7e7e
}

.fa-store{
    color: #9356dc
}



.restaurant-item{
    position: relative;

    .btn__card {

        position: absolute;
        right: 12px;
        top: 13px;

        width: 80px;
        height: 29px;
        text-align: center;
        background-color: $color-nouveau;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 2px;

        .new{
            font-size: 14px;
            line-height: 16px;
            color: $color-nouveau-txt; 
            font-weight: 500;
            
        }
    }
}

