@mixin flexMid{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexMidCol{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin position ($x: -10px, $y:2px){
    position: relative;
    top: $y;
    left: $x;
}