$font-titre: 'Shrikhand';
$main-color: #FF79DA; 
$background-footer: #353535;
$color-lien-footer: #FFFFFF;
$color-txt-footer: #FFFFFF;
$color-background-primary: #F3F3F3;
$color-background-secondary: #FFFFFF;
$color-background-tertiary: #EAEAEA;
$color-txt : #353535;
$color-icones: #9356DC;
$color-icones-txt: #F3F3F3;
$color-txt-bouton: #EAEAEA;
$color-nouveau: #99E2D0;
$color-nouveau-txt: #008766;
$background-bouton: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
$background-bouton-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
$box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
$easing: cubic-bezier(.49, .18, .23, 1);
$largeur-div-principale: 69px;
$largeur-div-secondaire: 59px;
$hauteur-divs: 100px;
$duree-animation: 0.3s;