footer{
    width: 100%;
    height: auto;
    background-color: $background-footer;
    color: $color-txt-footer;
    margin: 0;
    h4{
        margin: 0 0 0 40px;
        padding-top: 22px;
        
    }
    ul{
        list-style-type: none;
        padding-bottom: 22px;
        margin: 0;
        
    }
     a{
        color: $color-lien-footer;
        text-decoration: none;
        
    }
}