header {
    position: relative;

    h1 {
        font-family: $font-titre;
        text-align: center;
        margin-top: 14px;
        margin-bottom: 5px;
    }

    a {
        position: absolute;
        left: 5%;
        right: 22.67%;
        top: 23.33%;
        bottom: 23.33%;
        color: black;
    }
}