/* styles.css */



.loader-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    animation: fadeOut 0.5s ease-in-out 3s forwards;
    
}



.loader {

    .cup {
        position: relative;
        width: 120px;
        height: 100px;

        .cup-body {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #FF79DA;
            border-radius: 0% 0% 45% 51% / 29% 47% 53% 44%;
            box-shadow: inset 0 0 0 10px #9356dc;
            overflow: hidden;
        }

        .cup-handle {
            position: absolute;
            top: 30%;
            right: -25%;
            width: 40px;
            height: 20px;
            background-color: #9356dc;
            border-radius: 30% 30% 50% 50% / 100% 100% 100% 100%;
            transform: rotate(-20deg);
        }
    }



    .liquid {
        position: absolute;
        bottom: 7px;
        margin: auto;
        left: 10px;
        width: 85%;
        height: 60%;
        background-color: #9256dce5;
        border-radius: 0% 0% 45% 51% / 29% 47% 53% 44%;
        animation: liquid-animation 2s ease-in-out infinite;

        h2 {
            font-size: 15px;
            font-family: $font-titre;
            color: #FFFFFF;
            text-align: center;
            margin: 0;

        }
    }

    @keyframes liquid-animation {

        0%,
        100% {
            transform: translateX(0) rotate(0);
        }

        50% {
            transform: translateX(-2px) rotate(1deg);
        }
    }
}


.animation-loader {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out 3s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}






section {
    width: 100%;
}

.section-explorer {
    height: 259px;
    @include flexMidCol;

    background-color: $color-background-primary;
    gap: 20px;

    h2 {
        text-align: center;


    }
}

.section-localisation {
    height: 50px;
    color: $color-txt;
    font-weight: 500;
    background-color: $color-background-tertiary;
    @include flexMid;

}



.section-fonctionnement {

    width: 100%;
    height: 440px;
    background-color: $color-background-secondary;

    @media screen and (min-width: 990px) {
        height: 228px;
    }


    h2 {
        margin-bottom: 26px;
        padding-top: 48px;

        @media screen and (min-width: 990px) {
            margin-left: 200px;
        }

    }


    .section-fonctionnement-liste {
        padding-left: 32.5px;
        padding-right: 20px;
        @include flexMidCol;

        @media screen and (min-width: 990px) {
            flex-direction: row;
        }

        .section-fonctionnement-liste__item {
            width: 322.49px;
            min-width: 322.49px;
            height: 72.38px;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 20px;
            border-radius: 25px;
            margin: 0px 0 25px 0;
            box-shadow: $box-shadow;

            @media screen and (min-width: 1100px) {
                margin-left: 36px;
            }

            .section-fonctionnement-liste__item-icone {
                width: 24px;
                height: 24px;
                background-color: $color-icones;
                color: $color-icones-txt;
                border-radius: 50%;
                text-align: center;
                @include position
            }




        }
    }

}

.section-restaurant {
    width: 100%;
    height: 100%;
    background: $color-background-primary;
    padding-bottom: 66px;



    h2 {
        padding-top: 54px;

        @media screen and (min-width: 990px) {
            margin-left: 150px;
        }
    }

    .section-restaurant-liste {
        @include flexMidCol;


        @media screen and (min-width: 1775px){
            margin: 100px;
        }

        @media screen and (min-width: 1000px) {
            flex-direction: row;
            flex-wrap: wrap;

        }
    }

    .section-restaurant-liste__item {
        width: 90%;
        max-width: 490px;
        height: 251px;
        background-color: #FFFFFF;
        border-radius: 15px;
        margin-bottom: 18px;
        box-shadow: $box-shadow;
        text-decoration: none;

        @media screen and (min-width: 1000px) {

            margin-left: 50px;
            margin-right: 50px;
        }


        .section-restaurant-liste__img {
            width: 100%;
            height: 150px;
            border-radius: 15px 15px 0 0;
            object-fit: cover;
        }

        .section-restaurant-liste-item-txt-titre {
            font-size: map-get($map: $font-size, $key: nom-restaurant);
            font-weight: 700;
            color: $color-txt;
            margin: 16px 0px 0px 13px;
            ;
            padding: 0;
        }

        .section-restaurant-liste-item-txt-adresse {
            font-size: map-get($map: $font-size, $key: sous-titre);
            font-weight: 300;
            color: $color-txt;
            margin: 0px 0px 0px 13px;
            padding: 0;
        }

    }
}