.section-img {
    height: 200px;

    .img-menu {
        width: 100%;
        height: 275px;
        object-fit: cover;
    }
}




.section-menu {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;


    h2 {
        padding-top: 32px;
        font-family: 'Shrikhand';
        font-size: 1.7em;
        margin-left: 0;
        margin-right: 17px;
        margin-top: 0;
        margin-bottom: 0;

        @media screen and (min-width: 768px) {
            text-align: center;
        }

    }

    h3 {
        font-weight: 300;
        border-bottom: 3px solid $color-nouveau;
        width: 40px;
        text-transform: uppercase;
        margin-left: 13px;
        margin-bottom: 6px;
    }

    .menu-titre {

        width: 90%;
        max-width: 634px;
        position: relative;


    }

    .menu-sous-titre {

        width: 90%;
        max-width: 634px;
        margin-top: 22px;

    }



    .section-menu-contenu {
        width: 100%;
        max-width: 1055px;
        background-color: $color-background-primary;
        border-radius: 50px 50px 0% 0%;
        display: flex;
        align-items: center;
        flex-direction: column;

    }

    .section-menu-contenu-txt {
        width: 90%;
        max-width: 634px;
        height: 69px;
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
        border-radius: 15.0431px;
        margin: 6px;
        display: flex;
        justify-content: space-between;
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        background-color: #ffffff;


    }

    .section-menu-contenu-txt__plat {
        width: auto;
        flex-grow: 1;
        transition: all $duree-animation ease-in-out;
        padding: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;


        h4 {
            font-size: 17px;
            margin: 0;
            padding-top: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 500;
            padding-bottom: 10px;


        }

        p {
            padding-bottom: 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0px;
            font-weight: 300;
            font-size: 15px;

        }
    }

   
      
    .price-check {
        position: relative;
        display: flex;
    }
    
    .div-principal {
        /* Styles pour la div principale */
        height: 69px;
        padding: 10px;
        transition: margin-right 0.3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
    }
    
    .div-principal p {
        margin: 0;
        font-weight: 700;
        margin-right: 10px;
        font-size: 15px;
    }
    
    .price-check:hover .div-principal {
        margin-right: $largeur-div-secondaire; 
    }
    
    .div-secondaire {
        position: absolute;
        right: 0;
        top: 0;
        width: 59px;
        height: 69px;
        background-color: $color-nouveau; 
        transform: translateX(80px);
        transition: transform 0.3s ease-in-out;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: 1.5em;
    }
    
    .price-check:hover .div-secondaire {
        transform: translateX(0);
    }

    .btn-commander {
        width: 100%;
        display: flex;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;

        .btn-menu {
            margin: auto;
            width: 186px;

            span {
                font-size: 16px;
            }

        }
    }

    
    
    /* Effet d'apparition progressif */
@keyframes apparition {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .section-menu-contenu {
    h3, h4, p {
      opacity: 0; 
      animation: apparition 2s ease-out forwards; 
    }
    
    h3 {
      animation-delay: 0.5s;
    }
    h4 {
      animation-delay: 1s;
    }
    p {
      animation-delay: 1.5s;
    }
  }
  
    

    

    .heart-menu{
        position: absolute;
        top: 60%;
        left: 90%;
        font-size: 1.2rem;
        margin-left: 5px;
    }

   

    footer {
        position: relative;


    }

}